@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000000;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}
.login-form-1{
    position: center;
    padding: 30%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-form-2 h5{
    text-align: center;
    color: #fff;}
.login-container form{
    padding: 10%;
   align-items: center;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ffffff;
}

.col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }

.container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto; }

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.logo{
    min-width: 60px;
    border-radius: 6px;
 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}
.glow:hover{
    background: rgb(100, 100, 100);
    padding: 5px 5px;
    transition: all 0.2s ease-in-out;
 }
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    max-height: 200vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    background-color: #46C1F6;
    color: var(--text-color);
    padding: 12px 60px;
}
.posts{
    position: fixed;
    right: 20px;
    top: 12px; }
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
label{
    color: white;
    height: 60px;
    width: 250px;
    background-color: #000000;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins" ;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.chat-window{
   width: 100%;
    background-color: gray;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
    height: 65vh;
}
.users-window{
    width: 350px;
    color: white;
    background-color: dimgray;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
    height: 65vh;
}
.users-head{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
h4{
    background-color: gray;
    padding: 0 8px;
    border-radius: 50px;
}
.users-list{
    font-weight: 10px;
    margin-bottom: 15px;
}
.chats{
    min-height: 65vh;
    padding: 20px;
}
.user-join{
    font-size: 0.9rem;
    color: grey;
    background-color: white;
    border-radius: 50px;
    width: max-content;
    padding: 7px 20px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.message{
    color: black;
    background-color: white;
    padding: 5px 15px;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px 50px 50px 10px;
}
.p{
    font-size: 16px;
}
.outgoing{
    margin-left: auto;
    color: white;
    background-color: blue;
    border-radius: 50px 10px 10px 50px;
    text-align: right;
}
.user-input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
input{
    font-size: 16px;
    background-color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 50px 0 0 50px;
}
button{
    font-size: 24px;
    font-weight: 500;
    padding: 5px 15px;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
    color: white;
    background-color: blue;
    border-radius: 0 50px 50px 0;
}


.feed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 60px;
    margin-right: 60px;
}
.feed h1{
    font-size: 1.7rem;
    color: var(--text-color);
    transition: var(--tran-03);
}
.feed-text{
    display: inline-flex;
    align-items: center;

}
.feed-text h2{
    font-size: 1rem;
    margin-right: 1rem;
    color: var(--text-color);
    transition: var(--tran-03);
}
.feed-text span{
    color: var(--text-color);
    transition: var(--tran-03);
}
.main-posts{
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    gap: 11px;
}
.post-box{
    width: 300px;

}
.post-box img{
    width: 100%;
    height: 344px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.post-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #e2336b;
    border-radius: 50%;
}
.post-img img{
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center; 
}
.post-profile{
    display: flex;
    align-items: center;
}
.post-profile h3{
    font-size: 12px;
    font-weight: 600px;
    margin-left: 5px;
    color: var(--text-color);
    transition: var(--tran-03);
}
.likes{
    display: flex;
    align-items: center;
}
.likes i{
    font-size: 20px;
    margin-left: 10px;
}
.likes span{
    font-size: 14px;
    margin-left: 7px;
    color: var(--text-color);
    transition: var(--tran-03);
}
.likes .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}
.profile-container{
    padding: 20px 15%;
}
.dp-img{
   width: 30%;
   margin-right: 20px;
   border-radius: 6px;
}
.profile-details{
    background: var(--body-color);
    transition: var(--tran-03);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display: flex;
    align-items: flex-start;
}



.bd-example {
    padding: 1.5rem;
    margin-right: 100px;
    margin-left: 0;
    border-width: 0.2rem;
}
.pd-row h3{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-03);;
}
.pd-row p{
    font-size: 13px;
    color: var(--text-color);
    transition: var(--tran-03);;   
}
.friends-img img{
    margin-top: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.pd-right button{
    font-size: 15px;
    width: 140%;
    margin-top: 1rem;
    background-color: gray;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.about-section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.bio h1{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-03);
}
.bio p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    transition: var(--tran-03);
}
.socmed{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.socmed h1{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-03);
}
.wrapper{

  display: inline-flex;

}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #3B5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
  background: #46C1F6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}
.my-post{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.my-post h1{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    transition: var(--tran-03);
}
.my-feed{
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    gap: 11px;
}

.notification-ui_dd-content {
  margin-bottom: 30px;
}
.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--body-color);
  width: 100%;
}
.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.notification-list .notification-list_content .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}
.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}
.notif-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 60px;
    margin-right: 60px;
}
.notif-container b{
    color: var(--text-color);
    transition: var(--tran-03);
}
.notif-container small{
    color: var(--text-color);
    transition: var(--tran-03);
}
.notif-container p{
    color: var(--text-color);
    transition: var(--tran-03);
}

.footer {
    top: 100%;
    position: absolute;
    text-align: center;
    
    left: 0px;
    height: 50px;
    width: calc(100%);
    background-color: #46C1F6;
    color: white;
    transition: var(--tran-05);
    
    bottom: 0%
  }
